/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Header */
header {
    background: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

/* Navigasi */
nav {
    margin: 20px 0;
}

nav a {
    margin: 0 15px;
    color: #4CAF50;
    text-decoration: none;
}

/* Container */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Kotak Fakta */
.fact {
    background: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.fact1 {
    background: #4CAF50;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    background: #4CAF50;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

.bio {
    text-align: center;
}

.JUDUL {
    text-align: center;
    color: white;
}

.paragraf {
    text-align: justify;
    text-indent: 50px;
    line-height: 1.8;
}

a {
    text-decoration: none;
    color: black;
}

li {
    margin : 18px;
    text-align: justify;
}

button {
    margin-bottom: 20px;
    margin-left: 80px;
    background-color: #4CAF50;
    padding: 5px;
    font-size: 10px;
    color: white;
    border: none;
    border-radius: 50px;
}

button :hover {
    background-color: white;
    color: black;
}

.sumber {
    color: white;
}